* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Responsive {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}

@font-face {
    font-family: lato;
    src: url(fonts/Lato-Regular.ttf);
}

/* ==== header ==== */

#NavSections {
    display: flex;
    justify-content: center;
    margin: 20px 0;

}

#ListSections {
    list-style: none;
    display: flex;
    gap: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#ListSections>li {
    cursor: pointer;
}

#Banner {
    text-align: center;
    padding: 40px;
    font-family: lato, Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: antiquewhite;
}