* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 255, 255);
}

.Responsive {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}

@font-face {
    font-family: lato;
    src: url(fonts/Lato-Regular.ttf);
}

/* ==== header ==== */

#NavSections {
    display: flex;
    justify-content: center;
    margin: 20px 0;

}

#ListSections {
    list-style: none;
    display: flex;
    gap: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#ListSections>li {
    cursor: pointer;
}

#ListSections>li>a {
    text-decoration: none;
}

#Banner {
    text-align: center;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
}


/*==== Main ====*/



main section {
    margin: 0 0 40px 0;
    font-family: lato;
    scroll-margin-top: 10px;
}

section h2 {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    margin: 25px 0;
}

#Container1 img {
    object-fit: cover;
    aspect-ratio: 10/7;
    object-position: 0 -50px;
}

#Container3 img {
    object-fit: cover;
    aspect-ratio: 10/7;
}

#Container1,
#Container3,
#Container4,
#Container2,
#Container5 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 0 0 40px 0;
}


#Container4 iframe {
    width: 100%;
    height: 350px;
}

#FixSlider {
    width: 100%;
    overflow-x: hidden;
    margin: 0 0 20px 0;
}

#ContainerSliderImage {
    width: 100%;
    display: flex;
    /* animation: scroll 3s linear infinite; */
    justify-content: center;
    align-items: center;
}


#ContainerSliderImage img {
    width: 200px;
    height: 200px;
    margin: 0 20px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

/* ====footer==== */

footer {

    font-family: lato, Arial, Helvetica, sans-serif;
    display: flex;
    gap: 10px;
    align-items: center;
}

footer ul {
    margin: 20px 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

footer ul a {
    text-decoration: none;
}

/* ====keyframes==== */
@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}