* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* scroll-behavior: smooth;   */
    color: white;
}

:root {

    --section-divisor-color: #f8e800;
}

body {
    background-color: #262626;
    background-color: #1d1d1d;
}

.Responsive {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}

@font-face {
    font-family: lato;
    src: url(fonts/Lato-Regular.ttf);
}

/* ==== header ==== */


#NavSections {
    margin: 30px 0;
    position: relative;
}

#ListSections {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    margin: auto;
}

#NavSections::after,
#NavSections::before {
    content: "";
    position: absolute;
    background-color: #2b2b2b;
    width: 30px;
    height: 2px;
}

#NavSections::after {
    top: 0;
    left: 0;
    transform: rotateZ(-45deg);
}

#NavSections::before {
    bottom: 0;
    right: 0;
    transform: rotateZ(-45deg);
}



#ListSections>li {
    cursor: pointer;
}

#ListSections>li :hover {
    color: #ece9e9;

}

#ListSections>li :active {
    font-size: 20px;
    color: #ff0000;
}

#ListSections>li>a {
    text-decoration: none;
    color: #ffffff;

}

#Banner {
    text-align: center;
    padding: 20px 0;
    height: 150px;
    background: url(images/colombia_violencia_armada_antiioquia_foto_h13n.jpg_1718483347.jpg) no-repeat center center/cover;
    position: relative;
    filter: grayscale();
    display: flex;
    justify-content: center;
    align-items: center;
}

#Banner::before,
#Banner::after {
    background: linear-gradient(to right, #1d1d1d 0%, #1d1d1d00 100%);
    height: 100%;
    width: 15%;
    content: '';
    z-index: 2;
    position: absolute;
    top: 0;

}

#Banner::before {
    left: 0;
}

#Banner::after {
    right: -1px;
    transform: rotateZ(180deg);
    top: 0
}


#Banner p {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    border-radius: 20px;
    display: inline;
    color: rgb(255, 255, 255);
    padding: 2px 5px;


}

/*==== Main ====*/



main section {
    margin: 0 0 40px 0;
    font-family: lato;
    /* scroll-margin-top: 10px;  */
}

.subTitle {
    width: 100%;
    margin: 20px 0;
    position: relative;
}

.subTitle::before {
    content: "";
    background-color: var(--section-divisor-color);
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
}


.subTitle h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    background-color: var(--section-divisor-color);
    border-radius: 10px;
    display: inline;
    color: black;
    padding: 2px 5px;
    display: inline-block;
    position: relative;
    z-index: 1;
}


#Context .subTitle {
    display: flex;
    justify-content: flex-start;
}

#Testimonials .subTitle {
    display: flex;
    justify-content: center;
}

#PresentTime .subTitle {
    display: flex;
    justify-content: flex-end;
}



#Container1 img {
    object-fit: cover;
    aspect-ratio: 10/7;
    object-position: 0 -50px;
    background-attachment: black;
    filter: grayscale(40%);

}

#Container3 img {
    object-fit: cover;
    aspect-ratio: 10/7;
    background-attachment: black;
    filter: grayscale(40%);
}

#Container1,
#Container3,
#Container4,
#Container2,
#Container5 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 0 0 40px 0;
}


#Container4 iframe {
    width: 100%;
    height: 350px;
    background-color: black;
}

#FixSlider {
    width: 100%;
    overflow-x: hidden;
    margin: 0 0 20px 0;
}

#ContainerSliderImage {
    width: 100%;
    display: flex;
    /* animation: scroll 3s linear infinite; */
    justify-content: center;
    align-items: center;
}


#ContainerSliderImage img {
    width: 200px;
    height: 200px;
    margin: 0 20px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

/* ====footer==== */

footer {

    font-family: lato, Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

footer h3 {
    width: 100%;
}

footer ul {
    margin: 20px 0;
    list-style: none;
    display: flex;
    gap: 20px;
    text-wrap: nowrap;
    flex-wrap: wrap;

}

footer ul a {
    text-decoration: none;
    color: #197a37;
}

/* ====keyframes==== */
@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (min-width:730px) {

    #Container1,
    #Container3 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;

    }

    #Container1 img,
    #Container3 img {
        width: 100%;
    }

    #Container1 p {
        order: 1;
    }


    #Container4 {
        justify-content: space-between;
    }


}